# Hoist all dependencies to avoid Vercel build issues with pnpm symlinks
shamefully-hoist=true

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@libsql/*
public-hoist-pattern[]=@tanstack/*